/*
 * Source
 * https://stackoverflow.com/questions/13335544/how-to-alias-class-name-in-css-or-sass
 */

.columns {

  //@extend kink !optional;
  //min-width: content-width;

}

.box {
  //min-width: content-width;
}

.title {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
